@page "/counter"

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
@TestVariable
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    [Inject]
    private PrefStorage Storage { get; set; }
    
    string TestVariable = "";
    private void IncrementCount()
    {
        currentCount++;
        bool TestVariableBool = Storage.Exists("TestVariable"); 
        if (TestVariableBool)
            TestVariable = Storage.Get<string>("TestVariable");
        else 
             Storage.Set("TestVariable", "SDSDSDSD");
    }
}
